.container {
    border: 2px solid #a2a2a6;
    padding: 15px;
    margin: 20px auto;
    displaY: block;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}


body {
    background-color: #2e2c31;
    color: white;
    margin: 100px;
}

/* ---------- COLORS SECTION ---------- */


.cool-blue {
    background-color: #2d5dcc;
    color: #fff;
}

.pink {
    background-color: #d957d9;
    color: #fff;
}

.mint-green {
    background-color: #4fe0b0;
    color: #fff;
}

.beige {
    background-color: #83644f;
    color: #fff;
}

.color-label, .color-hex {
    font-size: 30px;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

/* ---------- FONTS SECTION ---------- */


.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}


.nunito-sans {
    font-family: 'nunito-sans', sans-serif;
}

.poppins-panel {
    width: 45%;
 display: inline-block;
}


.regular {
    font-style: normal;
    font-size: 125%;
}

.bold {
    font-weight: 700;
    font-size: 125%;
}
.italic {
    font-style:italic;
    font-size: 125%;
}

.font-label {
    text-decoration: underline;
    font-size: 150%;
}

.font-panel {
    display:inline-block;
    margin: 20px auto;
    width: 34%;
}

/* ---------- TEXT-STYLES SECTION ---------- */
.text-styles-container {
    font-size: 25px;
}